[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
[submodule "themes/next"]
	path = themes/next
	url = git@github.com:esblog/hexo-theme-next.git
[submodule "source/games/2048"]
	path = source/games/2048
	url = git@github.com:esblog/2048.git
[submodule "source/_posts"]
	path = source/_posts
	url = git@github.com:esblog/_posts.git
[submodule "source/images/raw"]
        path = source/images/raw
        url = git@github.com:esblog/raw.git
